# Option 1

### First, read into dataframe

In [58]:
import pandas as pd
import numpy as np

df = pd.read_csv('test_PI.txt', '\s+')
print(df.shape)
df.head()

(999, 3)

        CHROM  POS  PI
0  scaffold_1    1 NaN
1  scaffold_1    2 NaN
2  scaffold_1    3 NaN
3  scaffold_1    4 NaN
4  scaffold_1    5 NaN

### Second, drop NaN's. This doesn't drop the rows but will replace the NaN values with null's in the df

In [59]:
df.dropna(thresh=0)
print(df.shape)

(999, 3)

### Third, drop all lines with a null in the PI column

In [60]:
df = df[df.PI.notnull()]
print(df.shape)
df.head()

(450, 3)

          CHROM  POS   PI
256  scaffold_1  265  0.0
257  scaffold_1  268  0.0
258  scaffold_1  269  0.0
259  scaffold_1  271  0.0
260  scaffold_1  275  0.0

# Option 2
### Prefilter the file using standard unix command line tools. Here, the "-v" option says to print any line NOT containing the given string.

In [61]:
! grep -v nan test_PI.txt  > test_PI_filtered.txt

In [62]:
df2 = pd.read_csv('test_PI_filtered.txt', '\s+')
print(df2.shape)
df2.head()

(450, 3)

        CHROM  POS   PI
0  scaffold_1  265  0.0
1  scaffold_1  268  0.0
2  scaffold_1  269  0.0
3  scaffold_1  271  0.0
4  scaffold_1  275  0.0